/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Body Styling */
  body {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    min-height: 100vh;
  }
  
  * {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins' , sans-serif;
}
.navbar {
    height: 100px;
    width: 100vw;
}
.white-txt {
    color: white;
}
.logo-img {
  background-image: url('image.png');
  height: 80px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container-fluid {
  width: 100vw;
  min-height: 100vh;
  background-image: 
      linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), 
      url('cool-wallpapers-v0-qm1v3yhghkvb1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  margin-left: 40px;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 10px 0;
  color: white;
}
.logo {
  width: 100px;
  cursor: pointer;
}
nav ul {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-right: 60px;
}
nav ul li {
  display: inline-block;
  margin: 10px 20px;
}
nav li a {
  color: #ffffff;
  text-decoration: none;
}
nav li a:hover, nav li a.active
{
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.559);
}
.my-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background: #f5168d;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;

}
.my-btn:hover {
  background-color: #e31583;
  text-decoration: none;
  color: white;
}
/*Dropdown CSS*/
.logo-msg {
  margin-left: 40px;
  color: #ffffff;
  font-weight: 600;
  
}
.home {
  color: white;
  display: flex;
  justify-content: center;
}
#dynamic-content {
  color: #ffffff;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  
}
.to-do-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 120px auto 0 auto;
  max-width: 500px;
  
}
.stats-container {
  padding: 30px;
  border-radius: 20px;
  border: 3px solid #145a96;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.details {
  width: 100%;
  
}
#progress-bar {
  width: 100%;
  height: 10px;
  background-color: #518BB9;
  border-radius: 5px;
  margin-top: 20px;
}
#progress {
  width: 67%;
  height: 10px;
  background-color: #0D457E;
  transition: all 0.3s ease;

}
#numbers {
  width: 100px;
  height: 100px;
  background-color: #f5168d;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

form {
  margin-top: 60px;
  width: 100%;
  display: flex;
}

input {
  flex: 1;
  padding: 16px;
  background-color: #0d457e;
  border: 4px solid rgb(5, 239, 239);
  border-radius: 10px;
  color: #ffffff;
  outline: none;
}
#plus {
  padding: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5168d;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 30px;
  font-weight: bold;
  outline: none;
  color: #ffffff;
}